{{>inner }}

<div class="about">
    <div class="container">
        <div class="about__title">
            <h3>Nosotros Somos</h3>
            <h1>Rock.it-up</h1>
        </div>

        <div class="about__body">

            <div class="about__description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ab non ratione odit, veniam
                    neque
                    suscipit error? Ex itaque obcaecati voluptas excepturi veritatis quidem ipsa blanditiis esse dolore,
                    dolor non?</p>
            </div>

            <div class="generic__group">

                <div class="generic__content">
                    <div class="generic__content--img">
                        <img src="img/products/bg-products-01.jpeg" alt="">
                    </div>

                    <div class="generic__content--all">
                        <div class="generic__content--title">
                            <h4>Visión</h4>
                            <h5>Hacia dónde vamos</h5>
                        </div>
                        <div class="generic__content--desc">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam? Odio mollitia
                                nemo
                                libero rem nam officiis quod ipsum, optio qui vel velit error enim eos modi fugit
                                aliquam
                                reiciendis?
                            </p>
                        </div>
                        <div class="generic__content--link">
                            <a href="#">Generic Link</a>
                        </div>
                    </div>
                </div>

                <div class="generic__content--b">
                    <div class="generic__content--all">
                        <div class="generic__content--title">
                            <h4>Misión</h4>
                            <h5>Lo que hacemos</h5>
                        </div>
                        <div class="generic__content--desc">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam? Odio mollitia
                                nemo
                                libero rem nam officiis quod ipsum, optio qui vel velit error enim eos modi fugit
                                aliquam
                                reiciendis?
                            </p>
                        </div>
                        <div class="generic__content--link">
                            <a href="#">Generic Link</a>
                        </div>
                    </div>
                    <div class="generic__content--img">
                        <img src="img/products/bg-products-01.jpeg" alt="">
                    </div>
                </div>

                <div class="generic__content">
                    <div class="generic__content--img">
                        <img src="img/products/bg-products-01.jpeg" alt="">
                    </div>

                    <div class="generic__content--all">
                        <div class="generic__content--title">
                            <h4>Valores</h4>
                            <h5>Lo hacemos para ti</h5>
                        </div>
                        <div class="generic__content--desc">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam? Odio mollitia
                                nemo
                                libero rem nam officiis quod ipsum, optio qui vel velit error enim eos modi fugit
                                aliquam
                                reiciendis?
                            </p>
                        </div>
                        <div class="generic__content--link">
                            <a href="#">Generic Link</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="payment">
    {{>medios }}
</div>

{{>footer }}