{{>bg }}

<div class="home">
    <div class="container">
        {{!-- Introducción --}}
        <div class="home__intro">
            <div class="home__intro--title">
                <h1>Rock.it - up</h1>
                <h2>Bisutería Colombiana con piedras preciosas de calidad</h2>
            </div>
            <div class="container">
                <div class="home__intro--body">
                    <div class="intro__body--img">
                        <img src="img/bg-intro-00.jpeg" alt="">
                    </div>
                    <div class="intro__body--content">
                        <p>
                            Bisutería y alhajas de calidad con piedras preciosas 100% Colombianas.
                            Conoce nuestro catálogo con una amplia variedad de productos y piedras preciosas
                            y adquiérelos con pago directo con Criptomonedas.<br>

                            <br>Conoce más de nosotros <strong><a href="">Aquí</a></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Fin Introducción --}}

        {{!-- Destacados --}}
        <div class="home__high">
            <div class="home__high--title">
                <h2>Categorías de productos</h2>
                <h3>Rock.it - up</h3>
            </div>
            <div class="container">
                <div class="home__high--body">
                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-a.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Bisutería
                                </strong></p>
                        </div>
                    </div>

                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-b.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Piedras
                                </strong></p>
                        </div>
                    </div>

                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-c.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Dijes/Pendientes
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Fin Destacados --}}

        {{!-- Medios --}}
        <div class="medios">
            <div class="container">
                <div class="medios__title">
                    <h2>Conoce nuestros medios de pago</h2>
                    <h3>O cuéntanos lo que deseas</h3>
                </div>

                <div class="container">
                    <div class="medios__body">
                        <div class="medios__body--form">
                            <form>
                                <p><em>No compartiremos tus datos con terceros</em></p>
                                <div class="form-group">
                                    <label>Nombre Completo <em>(*)</em></label>
                                    <input type="text" class="form-control" placeholder="Armando Pérez">
                                </div>
                                <div class="form-group">
                                    <label>Correo electrónico <em>(*)</em></label>
                                    <input type="email" class="form-control" placeholder="usuario@sistema.com">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono <em>(Opcional)</em></label>
                                    <input type="tel" class="form-control" placeholder="+57 (444) 333-333-3">
                                </div>
                                <div class="form-group">
                                    <label>Descríbenos tu caso</label>
                                    <textarea cols="30" rows="10" class="form-control"
                                        placeholder="Máx: 500 Caracteres"></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-dark">
                                        Enviar
                                    </button></div>
                            </form>
                        </div>
                    </div>

                    <div class="pagos__body">
                        <div class="pagos__title">
                            <h3>Paga en Criptomonedas o con Transferencia Bancaria</h3>
                        </div>
                        <div class="pagos__body--content">
                            <div class="pagos__content--item">
                                <div class="button__pay">
                                    <div class="pagos__item--txt">
                                        <p>Bitcoin</p>
                                    </div>
                                    <div class="pagos__item--img">
                                        <img src="img/cripto/bitcoin.png" alt="">
                                    </div>
                                </div>
                                <div class="cripto__value">
                                    <p>$ 10.000 USD</p>
                                </div>
                            </div>

                            <div class="pagos__content--item">
                                <div class="button__pay">
                                    <div class="pagos__item--txt">
                                        <p>Ethereum</p>
                                    </div>
                                    <div class="pagos__item--img">
                                        <img src="img/cripto/ether.png" alt="">
                                    </div>
                                </div>
                                <div class="cripto__value">
                                    <p>$ 10.000 USD</p>
                                </div>
                            </div>

                            <div class="pagos__content--item">
                                <div class="button__pay">
                                    <div class="pagos__item--txt">
                                        <p>Litecoin</p>
                                    </div>
                                    <div class="pagos__item--img">
                                        <img src="img/cripto/litecoin.png" alt="">
                                    </div>
                                </div>
                                <div class="cripto__value">
                                    <p>$ 10.000 USD</p>
                                </div>
                            </div>

                            <div class="pagos__content--item">
                                <div class="button__pay">
                                    <div class="pagos__item--txt">
                                        <p>Transferencia</p>
                                    </div>
                                    <div class="pagos__item--img">
                                        <img src="img/cripto/master-card.png" alt="">
                                    </div>
                                </div>
                                <div class="cripto__value">
                                    <p>$ 10.000 USD</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{!-- Fin Medios --}}
    </div>
</div>