{{>bg }}

<div class="home">
    <div class="container">
        {{!-- Introducción --}}
        <div class="home__intro">
            <div class="home__intro--title">
                <h1>Rock.it - up</h1>
                <h2>Bisutería Colombiana con piedras preciosas de calidad</h2>
            </div>
            <div class="container">
                <div class="home__intro--body">
                    <div class="intro__body--img">
                        <img src="img/bg-intro-00.jpeg" alt="">
                    </div>
                    <div class="intro__body--content">
                        <p>
                            Bisutería y alhajas de calidad con piedras preciosas 100% Colombianas.
                            Conoce nuestro catálogo con una amplia variedad de productos y piedras preciosas
                            y adquiérelos con pago directo con Criptomonedas.<br>

                            <br>Conoce más de nosotros <strong><a href="">Aquí</a></strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Fin Introducción --}}

        {{!-- Destacados --}}
        <div class="home__high">
            <div class="home__high--title">
                <h2>Categorías de productos</h2>
                <h3>Rock.it - up</h3>
            </div>
            <div class="container">
                <div class="home__high--body">
                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-a.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Bisutería
                                </strong></p>
                        </div>
                    </div>

                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-b.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Piedras
                                </strong></p>
                        </div>
                    </div>

                    <div class="hight__body--item">
                        <div class="high--img">
                            <a href="">
                                <img src="img/high/hg-prod-c.png" alt="">
                            </a>
                        </div>
                        <div class="high--txt">
                            <p><strong>
                                    Dijes/Pendientes
                                </strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Fin Destacados --}}
    </div>
</div>

<div class="payment">
    {{>medios }}
</div>

{{>footer }}