{{>inner }}

<div class="tienda">
    <div class="container">
        <div class="tienda__title">
            <h1>Tienda Rock.it-up</h1>
            <h3>Encuentra lo que más te identifica</h3>
        </div>
        <div class="tienda__body">
            <div class="tienda__body--description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime quasi quaerat suscipit blanditiis?
                    Atque nostrum magnam dolore. Exercitationem quos delectus repudiandae numquam, ratione a repellat
                    architecto non eaque, consequuntur ea.</p>
            </div>
            <div class="container">

                <div class="tienda__body--filtro">
                    <div class="tienda__body--content">
                        <div class="selector">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Filtre por categoría
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Bisutería/Alhajas</a>
                                    <a class="dropdown-item" href="#">Piedras preciosas</a>
                                    <a class="dropdown-item" href="#">Dijes/Pendientes</a>
                                </div>
                            </div>
                        </div>

                        <div class="busqueda">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search" id="search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tienda__body--products">
                    <div class="container">

                        <div class="product__row">

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="product__row">

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product__item">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="img/products/bg-products-00.jpeg" alt="">
                                    </div>
                                    <div class="card__txt">
                                        <p>Lorem ipsum dolor</p>
                                    </div>
                                    <div class="buy__product">
                                        <div class="card__value">
                                            <p>$60 USD</p>
                                        </div>
                                        <div class="card__buy">
                                            <button class="btn btn-dark">Comprar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="payment">
    {{>medios }}
</div>

{{>footer }}