<footer>
    <div class="container">
        <div class="footer__side--a">
            <div class="footer__group">
                <div class="footer__group--title">
                    <h4>Mapa de sitio</h4>
                </div>
                <ul class="footer__list">
                    <div class="footer__list--a">
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Inicio
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Tienda
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Nosotros
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Contacto
                            </a>
                        </li>
                    </div>
                    <div class="footer__list--b">
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Política de privacidad
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Política de cookies
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Política Medioambiental
                            </a>
                        </li>
                        <li class="footer--item">
                            <a href="" class="footer--link">
                                Sitemap
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="footer__group">
                <div class="footer__group--title">
                    <h4>Redes sociales</h4>
                </div>
                <ul class="footer__list--social">
                    <li class="social__list">
                        <a href="" class="social__link">
                            <img src="img/face.png" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__list">
                        <a href="" class="social__link">
                            <img src="img/insta.png" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__list">
                        <a href="" class="social__link">
                            <img src="img/linked.png" alt="" class="social__img">
                        </a>
                    </li>
                    <li class="social__list">
                        <a href="" class="social__link">
                            <img src="img/ether.png" alt="" class="social__img">
                        </a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <div class="face"><a href="" class="social__link"><img src="" alt="" class="social__img"></a></div>
                </ul>
            </div>
        </div>

        <div class="footer__side--b">
            <div class="footer__group">
                <div class="footer__group--title">
                    <h4>Encuéntranos fácilmente</h4>
                </div>
                <div class="footer__address">
                    <div class="footer__address--img">
                        <img src="img/pointer.png" alt="">
                    </div>
                    <div class="footer__address--link">
                        <a href="">Calle 1B N° 66-94, Medellín - Antioquia</a>
                    </div>
                </div>
            </div>

            <div class="footer__group">
                <div class="footer__group--title">
                    <h4>Escríbenos por Whatsapp</h4>
                </div>
                <div class="footer__wp">
                    <div class="footer__wp--content">
                        <div class="footer__wp--img">
                            <img src="img/wp.png" alt="">
                        </div>
                        <div class="footer__wp--link">
                            <a href="">3135887171</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="pie__footer">
        <a href="" class="logo__footer--link">
            <img src="img/logo-completo.jpg" alt="" class="logo__footer--img">
        </a>
        <p>Todos los derechos reservados -K1N0.C0M- Rock.it-up 2020</p>
    </div>
</footer>