* {
    box-sizing: content-box;
    font-family: "Abel", sans-serif;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

/* Menú Nav */
header {
    .navbar {
        background: $Morado;
        .container {

            .navbar-brand {
                img {
                    width: 160px;
                }
            }

            .collapse {
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            color: white;
                            &:hover {
                                transition: all 0.8s;
                                color: $MorO;
                            }
                        }

                        .dropdown-menu {
                            background: $Morado;
                            min-width: 2rem;
                            .dropdown-item {
                                color: white;
                                &:hover {
                                    background: $Morado;
                                    transition: all 0.8s;
                                    color: $MorO;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (min-width: 375px) and (max-width: 410px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (min-width: 411px) and (max-width: 539px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .navbar-nav {
        text-align: center;
    }
}
/* Fin Menú Nav */
