.home {
    // Introducción
    .container {
        .home__intro {
            margin-top: 60px;
            .container {
                margin-top: 40px;
                .home__intro--body {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 20px;

                    .intro__body--img {
                        width: 40%;
                    }

                    .intro__body--content {
                        width: 40%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        a {
                            color: black;
                            &:hover {
                                transition: all 0.6s;
                                color: $MorO;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
        // Fin Introducción

        .home__high {
            margin-top: 120px;
            margin-bottom: 60px;
            .container {
                .home__high--body {
                    margin-top: 40px;
                    display: flex;
                    justify-content: space-around;
                    .hight__body--item {
                        text-align: center;
                        .high--img {
                            a {
                                img {
                                    width: 180px;
                                    border-radius: 86px;
                                    &:hover {
                                        transition: all 0.8s;
                                        border-radius: 90px;
                                        -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
                                        -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
                                        box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
                                    }
                                }
                            }
                        }

                        .high--txt {
                            margin: 10px;
                            p {
                                opacity: 0%;
                            }
                        }

                        &:hover {
                            transition: all .8s;
                            .high--txt {
                                transition: all .8s;
                                p {
                                    transition: all .8s;
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .home {
        .container {
            .home__intro {
                .container {
                    .home__intro--body {
                        display: block;
                        .intro__body--img {
                            img {
                                width: 260px;
                            }
                        }

                        .intro__body--content {
                            width: 100%;
                            margin: 10px;
                            padding: 10px;
                        }
                    }
                }
            }

            .home__high {
                margin-top: 20px;
                .home__high--title {
                    text-align: center;
                }
                .container {
                    .home__high--body {
                        display: block;

                        .hight__body--item {
                            .high--txt {
                                display: block;

                                p {
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 375px) and (max-width: 409px) {
    .home {
        .container {
            .home__intro {
                .container {
                    .home__intro--body {
                        display: block;
                        .intro__body--img {
                            img {
                                width: 320px;
                            }
                        }

                        .intro__body--content {
                            width: 100%;
                            margin: 10px;
                            padding: 10px;
                        }
                    }
                }
            }

            .home__high {
                margin-top: 20px;
                .home__high--title {
                    text-align: center;
                }
                .container {
                    .home__high--body {
                        display: block;

                        .hight__body--item {
                            .high--txt {
                                display: block;

                                p {
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 410px) and (max-width: 539px) {
    .home {
        .container {
            .home__intro {
                .container {
                    .home__intro--body {
                        display: block;
                        .intro__body--img {
                            img {
                                width: 350px;
                            }
                        }

                        .intro__body--content {
                            width: 100%;
                            margin: 10px;
                            padding: 10px;
                        }
                    }
                }
            }

            .home__high {
                margin-top: 20px;
                .home__high--title {
                    text-align: center;
                }
                .container {
                    .home__high--body {
                        display: block;

                        .hight__body--item {
                            .high--txt {
                                display: block;

                                p {
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 540px) and (max-width: 767px) {
    .home {
        .container {
            .home__intro {
                .container {
                    .home__intro--body {
                        display: block;
                        .intro__body--img {
                            img {
                                width: 420px;
                            }
                        }

                        .intro__body--content {
                            width: 100%;
                            margin: 10px;
                            padding: 10px;
                        }
                    }
                }
            }

            .home__high {
                margin-top: 20px;
                .home__high--title {
                    text-align: center;
                }
                .container {
                    .home__high--body {
                        display: block;

                        .hight__body--item {
                            .high--txt {
                                display: block;

                                p {
                                    opacity: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
