<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178923582-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-178923582-1');
    </script>
    <meta property="og:title" content="Rock.it-up | Bisutería y Piedras preciosas en Colombia">
    <meta property="og:type" content="Web">
    <meta property="og:url" content="https://rockitup.herokuapp.com/">
    <meta property="og:image" content="https://rockitup.herokuapp.com/img/logo-completo.jpg">
    <meta property="og:local" content="es_LA">
    <title>Rock.it - Up | Bisutería y Joyería en Colombia</title>
    <meta name="description" content="Bisutería y Piedras preciosas de Colombia para el mundo entero">
    <meta name="keywords"
        content="bisutería, joyería, joyas, alhajas, dijes, pendientes, piedras, piedras preciosas, rocas de colección">
    <meta name="author" content="k1n0com">
    <meta name=”distribution” content=”global” />
    <meta name="Robots" content="all" />
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="icon" href="img/favicon.ico">
</head>

<body>
    <header>
        {{>navigate }}
    </header>

    {{{ body }}}

    <div class="payment">
        {{>medios }}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
        <script src="/public/filtro.js"></script>
</body>
{{>footer }}

</html>