<h1>Hola, soy un formulario de registro</h1>

<div class="footer__users">
    <div class="container">
        <div class="footer__users--a">
            <p>Hola, soy un footer</p>
        </div>
        <div class="footer__users--a">
            <p>Hola, soy un footer</p>
        </div>
    </div>
</div>